*, ::before, ::after{
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MYRIADPRO-REGULAR.woff');
}

body {
font-family: "MYRIADPRO-REGULAR", sans-serif;
color: black;
overflow: hidden;
} 

span{
    height: 10vh;
    width: 100vw;
    padding: 0;
}

#btn-error{
    background-color: #00B4F5;
    
}
/*btn chloe*/

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-right: 0;
}

.btn-confettis{
  width: 100px;
  height: 100px;
  background-color: #00B4F5;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border : none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 7px 0 rgb(160,160,160);
  font-size: 30px;
}

.btn-confettis:active{
    margin-top: 7px;
    box-shadow: 0 0px 0 rgb(160,160,160);
}

.slot{
    position: relative;
    perspective: 1000px;
}

.slot div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}


