
@font-face {
        font-family: 'MyriadPro';
        src: url('/projet-binome/assets/fonts/MYRIADPRO-REGULAR.woff');
}

body {
    font-family: "MyriadPro", sans-serif;
    color: black;
}

.logopage{
    width: 200px;
}
.text{
    color:#EC6258;
    font-weight: bold;
    font-size: 5rem;

}
.logoipsum-btn-purple{
    background-color: #00B4F5;
    color:white;
    border-color: #00B4F5;
    width: 220px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

.text1{
    color: white;
}

.imagetext{
    width: 500px;
}
.motiondesignmini{
    width: 180px;
}
.graphiste1{
    width: 180px;
}
.pentesteurminia{
    width: 169px;
}
.nav-link{
    color:rgba(0, 180, 245, 1) ;
    margin-top: 20px;
}

.Coeurwebtitle{
    font-size: 4.3rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
.nav-link3{
    color: white;
}

.container3{
    text-align: center;
}
.tittle1{
    color:#EC6258;
}
/*footer*/
.footercolor{
    background-color:#00B4F5 ;
    }
    .text1{
    color: white;
    }
    .text2{
    list-style-position: inside;
    color: white;
    }

/*contact*/
.nav-link2{
color: black;
}
.nav-link2:hover{
    color:#00B4F5 ;
}



